 * {
     padding: 0px;
     margin: 0px;
 }

 .orbitron-text {
     font-family: "Orbitron", sans-serif;
 }

 .poppins-text {
     font-family: "Poppins", sans-serif;
 }

 .common-btn {
     background-color: #C61B1E;
     color: white;
     border: none;
     padding: 14px 28px;
     border-radius: 12px 0px 12px 0px;
     font-size: 16px;
     font-weight: 500;
 }

 body {
     padding: 24px 120px;
 }








 /* this is header section */

 .div-1 {

     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 24px 36px;
     background-color: #F0F8FF;
     border-radius: 32px 0px 32px 0px;

 }



 .header-list {
     list-style-type: none;
     display: flex;
     gap: 40px;
     font-family: "Poppins", sans-serif;
     font-weight: 400;
     font-size: 20px;
 }

 .home-text {
     color: #C61B1E;
     font-weight: 700;
 }

 .bar-icon {
     display: none;
 }

 /* hero section design startssssssssssssssssssssssssss */

 .hero-section {
     /* border: 1px solid red; */
     margin-top: 20px;
     border-radius: 32px 0px 32px 0px;
     padding-left: 50px;
     background-image: url('/image/hero_image.png');
     background-repeat: no-repeat;
     background-position-x: right;
     background-position-y: bottom;
     height: 650px;
     background-color: #EDEDED;
     display: flex;
     align-items: center;
 }



 .hero-section p {
     font-size: 20px;
     font-weight: 500;
     color: #616161;
 }

 .hero-section-red-text {
     color: #C61B1E;

 }

 .hero-div {
     font-size: 60px;
     font-weight: 600;
     margin-bottom: 16px;
 }

 .hero-para {
     margin-bottom: 32px;
 }








 /* responsive design start */




 @media screen and (max-width:1290px) and (min-width:374px) {
     * {
         padding: 0px;
         margin: 0px;
     }

     body {
         padding: 16px;
     }

     /* this is header section */

     .div-1 {

         display: flex;
         justify-content: space-between;
         align-items: center;
         padding: 12px 12px;
         background-color: #F0F8FF;
         border-radius: 20px 0px 20px 0px;

     }

     .logo {
         height: 50px;
     }


     .common-btn {
         background-color: #C61B1E;
         color: white;
         border: none;
         padding: 12px 24px;
         border-radius: 12px 0px 12px 0px;
         font-size: 12px;
         font-weight: 400;
     }

     .header-list {
         list-style-type: none;
         display: flex;
         gap: 40px;
         font-family: "Poppins", sans-serif;
         font-weight: 400;
         font-size: 20px;
         display: none;
     }

     .home-text {
         color: #C61B1E;
         font-weight: 700;
     }

     .bar-icon {
         display: none;
     }


     /* hero section start */

     .hero-section {
         /* border: 1px solid red; */
         margin-top: 12px;
         border-radius: 20px 0px 20px 0px;
         padding-left: 12px;
         background-image: url('/image/hero_image.png');
         background-repeat: no-repeat;
         background-position-x: right;
         background-position-y: bottom;
         background-size: contain;
         height: 50vh;
         background-color: #EDEDED;
         display: flex;
         align-items: baseline;
         padding-top: 12px;

     }



     .hero-section p {
         font-size: 14px;
         font-weight: 500;
         color: #616161;
     }

     .hero-section-red-text {
         color: #C61B1E;

     }

     .hero-div {
         font-size: 24px;
         font-weight: 600;
         margin-bottom: 16px;
     }

     .hero-para {
         margin-bottom: 12px;
     }





 }